@use '../styles/var' as color;
@use '../styles/var' as mixin;

.container {
  position: relative;
  top: 50px;
  margin: 0 auto;
  padding: 30px 0 20px 0;
  width: 90%;
  max-width: 500px;
  background: color.$main-bg-color;
  border-radius: 5px;
}

.todoHeader {
  @include mixin.container-center;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid color.$border-color;

  h1 {
    font-size: 2rem;
    font-weight: 700;
    color: color.$title;
  }
  span {
    font-size: 0.75rem;
    font-weight: 400;
    color: color.$title-des;
  }
}

.loading {
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);

  .spinner {
    width: 45px;
    height: 45px;
    animation: loading 2s linear infinite;
  }
  .bubbleOne,
  .bubbleTwo {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: color.$bg-blue-1;
    animation: bounce 2s ease-in-out infinite;
  }
  .bubbleTwo {
    animation-delay: -1s;
  }
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
