@use '../styles/var' as color;

.container {
  outline: 1px solid blue;
  margin: 70px auto 0 auto;
  width: 90%;
  max-width: 500px;
  height: 500px;
}

.todoHeader {
  margin: 0 20px;
  padding: 30px 0px 5px 0px;
  border-bottom: 2px solid color.$border-color;

  h1 {
    font-size: 2rem;
    font-weight: 700;
    color: color.$title;
  }
  span {
    font-size: 0.75rem;
    font-weight: 400;
    color: color.$title-des;
  }
}
